 @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita&display=swap');

*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
}
button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
::-webkit-scrollbar {
    background-color: #f5f5f500; /* color del fondo */
    width: 12px; /* ancho */
  }
  
::-webkit-scrollbar-thumb {
    background-color: #CCC; /* color de la barra */
    border-radius: 5px;
  }
body{
    background-color: #f2f2f2;
    mix-blend-mode: difference;
    font-family: 'Poppins', sans-serif;
    padding: 0 2em;
    min-height: 100vh;
    color: white;
}
img{
    mix-blend-mode: difference;
    filter: invert(1);
}

.title, .menu, .one, .two, .description{
    mix-blend-mode: difference;
}

/*Nav Bar*/
header{
    position: fixed;
    top: 2px;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    overflow: hidden;
}
header > a{
    height: 100px;
    width: 100px;
    position: relative;
}
#logo,
#flag{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition-delay: .5s;
    transition: opacity .5s ease;
    filter: none;
}
#flag{
    opacity: 0;
}
.menu{
    z-index: 10;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
    position: relative;
}
.menus{
    display: none;
}
#menu2, #workus{
    transition: all .5s ease-in;
}
nav{
    position: relative;
}
.list{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    gap: 10px;
    transition: all .5s ease-in;
}
.list li{
    transition: all .5s ease-in;
}
/*About Section*/
.container{
    display: grid;
    grid-template-columns: repeat(6,minmax(0,1fr));
    overflow: hidden;
    margin-bottom: 2rem;
}
.title, .image1, .image2, .description{
    grid-column: 1/-1;
}
.image1 img, .image2 img{
    width: 100%;
    height: auto;
    margin-top: 2.5rem;
    margin-bottom: .5rem;
}
.title{
    font-family:'Darker Grotesque', sans-serif ;
    font-size: 25vw;
    text-transform: uppercase;
    line-height:1;
    display: flex;
    flex-direction: column;

}
.sup{
    font-weight: 400;
}
.description{
    font-family: sans-serif ;
    grid-row: 2/3;
    font-size: 6vw;
    line-height:1.1;
    margin-bottom: 4rem;
}
.description h3{
    margin-bottom: 4rem;
}
.description .learnMore{
    text-decoration: none;
    color: white;
    font-size: 4vw;
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
}

.one, .two{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 0;
    transition: .5s ease-in-out;
}
.one{
    left: 0;
    width: 5%;
}
.two{
    right: 0;
    width: 90%;
}

.learnMore:hover .one{
    width: 90%;
}
.learnMore:hover .two{
    width: 5%;
}

.caption{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 400;
    font-size: 5vw;
}
@media screen and (min-width:650px) {
    /*Nav Bar*/
    header > a{
        width: 50px;
    }
    .menu{
        display: none;
    }
    .menus{
        display: flex;
        gap:20px ;
        font-size: 10px;
    }
    .list{
        display: flex;
        font-size: 10px;
    }
    .list button{
        font-size: 10px;

    }
    .container{
        grid-template-columns: repeat(12,minmax(0,1fr));
        column-gap: 25px;
        margin: 2rem 0;
    }
    .title{
        white-space: nowrap;
        padding: 0;
        font-size: 13.7vw;
        flex-direction: row;
        margin-bottom: 1rem;
    }
    .sup{
        height: 100%;
        margin-left: 0px;
        font-size: 12vw;
    }
    .image1{
        grid-column:1/5 ;
    }
    .image2{
        grid-column: 5/-1;
    }
    .image1 img, .image2 img{
        margin-top: 0;
    }
    .description{
        grid-row: 3/4;
        grid-column: 5/10;
        margin-top: 3rem;
        font-size: 3vw;
    }
    .description .learnMore{
        font-size: 1.8vw;
    }
    
    .caption{
        font-size: 1.5vw;
    }
}
@media screen and (min-width:840px) {
    header{
        padding: 0 5rem;
    }
    header > a{
        width: 90px;
    }

    .menus, .list, .list button{
        font-size: 20px;
    }
    .container{
        padding: 0 3rem;
    }
    
}